{:paths ["src"]
 :deps {
        ;; kotoba.test (clojure.test-compatible surface), not clojure.test --
        ;; scripts/migrate-clojure-test-to-kotoba-test.cljk. Explicit floor.
        io.github.kotoba-lang/test {:git/url "https://github.com/kotoba-lang/test.git"
                                    :git/sha "2ab4885f99fd25552d380d0f6b0b54c5a72eb7ae"}io.github.kotoba-lang/kami-autodrive {:git/url "https://github.com/kotoba-lang/kami-autodrive.git"
                                     :git/sha "30a86d79cfa17a84bdfd3a3ba56fdde91bdf8b5b"}
        io.github.kotoba-lang/robotics       {:git/url "https://github.com/kotoba-lang/robotics.git"
                                     :git/sha "1d1f93e3c9ac06ce475ebcfd4df1d908602792d5"}
        io.github.kotoba-lang/org-ros        {:git/url "https://github.com/kotoba-lang/org-ros.git"
                                     :git/sha "f8f643a5070ae7fe67d2cdc36a19b79a488a169f"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}